.acc_action{
    display: flex;
    flex-direction: row;
    margin: auto;
    width: 50%;
    padding: 1rem;
    /*background:  #ffda77;*/
    background: #ffa5a5;
    border-radius: 15px;
}

.acc_info{
    text-align: center;
    overflow: auto;
    background: white;
    border-radius: 10px;
}

.acc_desc{
    font-size: 18px;
    font-weight: 500;
    text-justify: auto;
}

.acc_btn{
    background: #f9f7cf;
    border-radius: 10px;
    border-left: 1px dotted black;
}
#acc_btn_right{
    border-right: 1px dotted black;
    border-left: 0px;
}

.crud_btn{
    margin: 15px;
}

#login{
    float: right;
}