.subhead{
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    color: black;
}
hr{
    border: dotted 10px #ff8585;
    width: 10%;
    height: 0px;
    border-bottom: 0px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.CRUD{
    /*margin: 10px;
    margin-right: 0;
    margin-top: 15px;*/
    margin: auto;
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    background: #f9f7cf;
    padding: 25px;
    border-radius: 10px;
    width: 50%;
}

.crud_btn{
    padding: 30px;
    margin: 5px;
    margin-bottom: 20px;
    background-color: #dff3e3;
    color: black;
    font-size: large;
}

.crud_btn:hover{
    background-color: #adce74;
    color: white;
}

.school_fun{
    margin: auto;
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: #f9f7cf;
    padding: 25px;
    border-radius: 10px;
    width: 60%;
}

.subhead_div{
    margin: 10px;
    text-align: center;
    font-size: medium;
    font-weight: bold;
    text-decoration: dotted darkcyan;
}
.btn_container{
    display: flex;
    flex-direction: row;
    margin: auto;
}
.btn_container_left{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-right: 10px;
}
.btn_container_right{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-left: 10px;
}

.logout{
    float: right;
    font-size: medium; 
    border-radius: 5px;
}
.logout:hover{
    background-color: white;
}

