@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

* {
	box-sizing: border-box;
}

body{
    background-color: #f6f5f7;
}

header{
    /*margin-top: 2px;*/
    display: block;
    /*background: rgba(0, 247, 255, 0.068);*/
    background: #ffba93;
    /*background: #fbf6f0;*/
    text-align: center;
    padding: 1rem;
    border: 2px solid black;
    border-radius: 5px;
    position: relative;
    /*justify-content: flex-start;*/
}
.list{
    display: block;
    margin: 3px 3px;
    font-size: large;
    /*padding: 1rem 1rem 1rem 0;*/
    background: rgba(0, 0, 0, 0.5);
    justify-content: flex-start;
    flex-direction: row;
}
.menu{
    margin: 2px;
    padding: 2px;
    color: aqua;
}
.menu:hover{
    /*border: 1px solid white;
    border-radius: 5px;*/
    background: white;
    /*font-size: 105%;*/
    color: black;
}
.back{
    font-size: large;
    font-weight: bold;
    margin: 2px;
    padding: 2px;
    color: black;
    float: right;
}
.back:hover{
    background: white;
    /*font-size: 105%;*/
    color: black;
}
