@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

* {
	box-sizing: border-box;
}

body{
    background-color: #f6f5f7;
}

header{
    /*margin-top: 2px;*/
    display: block;
    /*background: rgba(0, 247, 255, 0.068);*/
    background: #ffba93;
    /*background: #fbf6f0;*/
    text-align: center;
    padding: 1rem;
    border: 2px solid black;
    border-radius: 5px;
    position: relative;
    /*justify-content: flex-start;*/
}
.list{
    display: block;
    margin: 10px 0;
    background: rgba(0, 0, 0, 0.5);
    border: 2px solid black;
    border-radius: 5px;
    /*padding: 1rem 1rem 1rem 0;*/
    /*background: rgba(0, 0, 0, 0.5);
    justify-content: flex-start;
    flex-direction: row;*/
}
.menu{
    margin: 4px;
    padding: 2px;
    color: white;
}
.menu:hover{
    /*border: 1px solid white;
    border-radius: 5px;*/
    background: white;
    font-weight: bold;
    color: black;
}
.back{
    /*font-size: large;
    font-weight: bold;*/
    margin: 2px;
    padding: 2px;
    color: black;
    float: right;
}
.back:hover{
    background: black;
    /*font-size: 105%;*/
    color: white;
    font-weight: bold;
    border-radius: 5px;
}

.subhead{
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    color: black;
}
hr{
    border: dotted 10px #ff8585;
    width: 10%;
    height: 0px;
    border-bottom: 0px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.subhead_div{
    margin: 10px;
    text-align: center;
    font-size: medium;
    font-weight: bold;
    text-decoration: dotted darkcyan;
}

.logout{
    float: right;
    font-size: medium; 
    border-radius: 5px;
}
.logout:hover{
    background-color: white;
    font-size: 115%;
}

.crud_btn{
    padding: 30px;
    margin: 5px;
    margin-bottom: 20px;
    background-color: #dff3e3;
    color: black;
    font-size: large;
}

.crud_btn:hover{
    background-color: #adce74;
    color: white;
}
.error{
    margin: 2px;
    margin-top: 5px;
    padding: 1px;
    border-radius: 2px;
    background-color: #FC2D61;
    color: white;
}