.dropdown{
    margin-top: 25px;
    display: block;
}

.signup_container{
    margin: auto;
    margin-top: 80px;
    width: 50%;
}
.signup_post{
    padding: 15px;
    background-color: white;
    border-radius: 10px;
    border: 2px solid black;
}
.attr_container{
    width: 60%;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
}
.attr_container_ut{
    width: 60%;
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;

}
button{
    margin-top: 15px;
}
#dd{
    margin-left: 15px;
    width: 60%;
}


